<script>
function updateOpenDialog() {
  $('.recent-documents-list').empty();
  $('.bookmarked-documents-list').empty();
  var recentDocuments = localStorage.getItem('recentDocuments');
  recentDocuments = recentDocuments ? JSON.parse(recentDocuments) : [];
  recentDocuments.sort(function(a,b){
    return new Date(b.modified) - new Date(a.modified);
  });
  recentDocuments = recentDocuments.slice(0,5);
  recentDocuments.forEach(function(document){
    var url = document.url;
    var title = document.title;
    var modified = document.modified;
    $('.recent-documents-list').append('<li><a href="'+url+'">'+title+'</a></li>');
  })

  var bookmarkedDocuments = localStorage.getItem('bookmarkedDocuments');
  bookmarkedDocuments = bookmarkedDocuments ? JSON.parse(bookmarkedDocuments) : [];
  bookmarkedDocuments.sort(function(a,b){
    return new Date(b.modified) - new Date(a.modified);
  });
  bookmarkedDocuments.forEach(function(document){
    var url = document.url;
    var title = document.title;
    var modified = document.modified;
    $('.bookmarked-documents-list').append('<li><a href="'+url+'">'+title+'</a></li>');
  })
}

var konami = new Konami(function() {
  var statupChime = new Audio('audio/si.mp3');
  statupChime.play();
  $(".dogcow").slideDown(2000);
  $('.dogcow img').click(function(){
    $('.cbbl').toggle();
  })
});

$('.action-button')
.mousedown(function(){
  $(this).addClass("active")
})
.mouseup(function(){
  $(this).removeClass("active")
})
.mouseleave(function(){
  $(this).removeClass("active")
})

$('.toggler')
.mousedown(function(){
  $(this).css({"color":"transparent","background":"url('images/star.png')"});
})
.mouseup(function(){
  $(this).css({"color":"black","background":"white"});
})
.mouseleave(function(){
  $(this).css({"color":"black","background":"white"});
})

$('.CodeMirror-simplescroll-vertical::before')
.mousedown(function(){
  $(this).css({"background":"url('images/arrow-up-pressed.png')"})
})
.mouseup(function(){
  $(this).css({"background":"url('images/arrow-up.png')"})
})
.mouseleave(function(){
  $(this).css({"background":"url('images/arrow-up.png')"})
})

$('.CodeMirror-simplescroll-vertical::after')
.mousedown(function(){
  $(this).css({"background":"url('images/arrow-down-pressed.png')"})
})
.mouseup(function(){
  $(this).css({"background":"url('images/arrow-down.png')"})
})
.mouseleave(function(){
  $(this).css({"background":"url('images/arrow-down.png')"})
})

updateOpenDialog();
</script>
