<section class="generic-container">
  <section class="title-bar">
    <div class="close-button-wrapper">
      <div class="close-button toggler"></div>
    </div>
    <div class="title">HelloEdit</div>
    <div class="minimise-button-wrapper">
      <div class="minimise-button toggler"></div>
    </div>
  </section>
  <section class="action-bar">
    <a class="action-button new" href="/new"><i class="far fa-file"></i></a>
    <div class="action-button open"><i class="far fa-folder-open"></i></div>
    <!-- <div class="action-button fullscreen"><i class="fas fa-expand-arrows-alt"></i></div> -->
    <a class="action-button info" href="#info-modal" rel="modal:open"><i class="fas fa-info"></i></a>
    <input id="file-import" type="file"/>
  </section>
</section>

<section class="welcome-message">
  <main>
    <img src="/images/macintosh-error.png"/>
    <p style="font-size: 1.25em; padding-left: 1em;margin:0;">
      0x0404E
      <br />
      This page does not exist.
    </p>
  </main>
</section>
