<section class="editor-container">
  <section class="title-bar">
    <div class="close-button-wrapper">
      <div class="close-button toggler"><i class="fas fa-caret-up"></i></div>
    </div>
    <input type="text" class="title" placeholder="Untitled 1" maxlength="50" value="{{ document.title }}"></input>
    <div class="minimise-button-wrapper">
      <div class="minimise-button toggler"><i class="fas fa-caret-up"></i></div>
    </div>
  </section>
  <section class="action-bar">
    <div class="action-button new"><i class="far fa-file"></i></div>
    <a class="action-button open" href="#recent-documents-modal" rel="modal:open"><i class="far fa-folder-open"></i></a>
    <div class="action-spacer"></div>
    <div class="action-button save"><i class="far fa-save"></i></div>
    <div class="action-button bookmark"><i class="far fa-bookmark"></i></div>
    <div class="action-button delete"><i class="far fa-trash-alt"></i></div>
    <div class="action-spacer"></div>
    <div class="action-button fullscreen"><i class="fas fa-expand-arrows-alt"></i></div>
    <div class="action-button quit"><i class="fas fa-power-off"></i></div>
    <div class="action-spacer"></div>
    <a class="action-button info" href="#info-modal" rel="modal:open"><i class="fas fa-info"></i></a>
    <!-- <input id="file-import" type="file"/> -->
  </section>
  <main class="editor-container">
    <textarea class="editor">{{ document.content }}</textarea>
  </main>
</section>

{{> scripts }}
